.image-wrapper {
    padding: 20px;
}

.img-thumbnail {
    height: 100%;
    width: 100%;
}

.card-body {
    padding: 0 25px;
}

.card-footer {
    padding: 10px 15px;
    background-color: #ffffff;
    border-top: none;
}